:root {
  font-family: system-ui, "Roboto", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #213547;
  background-color: #fff;
}

.title {
  font-size: 2em;
  font-weight: 800;
  color: #003b6f;
  font-family: "Cactus Classical Serif", serif;
  font-style: normal;
}

.spacer-xs {
  height: 0.1rem;
}

.spacer-sm {
  height: 0.5rem;
}

.spacer-md {
  height: 1rem;
}

.spacer-lg {
  height: 1.5rem;
}
.spacer-xl {
  height: 2rem;
}

.category-thumbnail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0.1rem;
}

.thumbnail-container {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 0.1rem; */
  overflow-y: auto;
  flex-grow: 0;
}

.thumbnail {
  max-width: 30rem;
  max-height: 20rem;
  flex-grow: 1;
  position: relative;
  display: inline-block;
}

.thumbnail-img {
  display: block;
  max-width: 100%;
  border-radius: 2%;
  filter: saturate(1);
  transition: filter 0.5s;
}

.thumbnail-img:hover {
  display: block;
  max-width: 100%;
  border-radius: 2%;
  filter: saturate(3);
}

.contact-icon {
  width: 2rem;
  height: 2rem;
  border-radius: 5%;
  transition: background-color 0.5s, width 0.5s, height 0.5s, filter 0.5s;
  filter: invert(12%) sepia(88%) saturate(2281%) hue-rotate(192deg)
    brightness(100%) contrast(101%);
}

.contact-icon:hover {
  /* background-color: #003b6f; */
  /* width: 2.1rem; */
  /* height: 2.1rem; */
  /* color: red; */
  filter: invert(19%) sepia(57%) saturate(3755%) hue-rotate(195deg)
    brightness(95%) contrast(98%);
}

.contact-icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  gap: 0.2rem;
  height: 2.2rem;
}

.category-thumbnail {
  max-width: 30rem;
  max-height: 20rem;
  flex-grow: 1;
  position: relative;
  display: inline-block;
}

.category-thumbnail-text {
  text-shadow: 2px 2px 3px black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 3em;
  pointer-events: none; /* allows clicks to pass through */
  text-align: center;
}

.category-thumbnail-img {
  display: block;
  max-width: 100%;
  border-radius: 2%;
  opacity: 50%;
  transition: opacity 0.5s;
}

.category-thumbnail-img:hover {
  opacity: 75%;
  cursor: pointer;
}

.bio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #303030;
}

img {
  max-width: 100%;
  border-radius: 2%;
}

.active-img-container {
  justify-content: center;
  align-items: center;
  display: flex;
  max-width: 80%;
  flex-grow: 1;
  padding-left: 5rem;
  padding-right: 5rem;
}

.active-img {
  border-radius: 0%;
}

.container {
  display: flex;
  flex-direction: row;
}

.bio-and-thumbs-container {
  display: flex;
  flex-direction: column;
  max-width: 20%;
  max-height: 100vh;
}

/* breakpoint 13000 */
@media (max-width: 1299) {
  .active-img-container {
    display: none;
  }
  .bio-and-thumbs-container {
    max-width: 100%;
  }
}

/* breakpoint 13000 */
@media (max-height: 1299) {
  .active-img-container {
    display: none;
  }
  .bio-and-thumbs-container {
    max-width: 100%;
  }
}
